.header {
  background-color: #2b3e4c;
}
.fondo {
  height: 100vh;
}

.foto img {
  max-width: 100%;
  border-radius: 20px;
}
.datos ul {
  list-style-type: none;
  padding: 0;
}

.datos li {
  margin-bottom: 10px;
}

.footerCard {
  background-color: #87b867;
  border: none;
}
