.home-page{
    margin: 3%;
    height: 100dvh;
    .card{
        height: 30%;
        background-image: url('../../../public/background-image.png');  
        background-size: cover;
        align-items: center;
        border-radius: 20px;
    }

    .card-body{
        border: solid 0.5px #333;
        margin-top: 15%;
        position: absolute;
        width: 98%;
        background-color: #ffffff;
        border-radius: 10px;
        height: 50dvh;
    }
}
