.sidebar {
    height: 95%;
    position: fixed;
    margin: 15px;
    background-color: #1c66b1;
    padding-top: 20px;
    border-radius: 10px;
  }
  
  .sidebar ul {
    padding-left: 0;
  }
  
  .sidebar .nav-link {
    color: #ffff;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .mobil{
    width: 4.5rem;
  }

  .icon {
    color: white;
  }