.sidebar {
    height: 100%;
    position: fixed;
    background-color: #2B3E4C;
  }

  .title-sec{
    color: #88b867da;
  }

.title-menu{
  color: #87B867;
  }

  .sidebar ul h5 {
    text-align: left;
  }

  .sidebar ul .nav-link {
    font-weight: bold;
    text-align: left;
    color: #FFDDD2;
    margin: 2px;

  }

  .sidebar ul .nav-link.active {
    background-color: #87B867;
    color: #FCF2DC;
  }


.nav-pills .nav-link:hover{
  background-color: #F4DFB9;
  color: #2B3E4C;
}
 