.footer{
    background-color: #F4DFB9;

    color: #2B3E4C;
    padding: 20px 0 20px 0;
}

.der-footer{
    border-top: 0.1em solid #2B3E4C;
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    justify-content: center;
}

.info-footer{
    text-align: end;
}
